* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding: 30px 0;
}

.grade {
  font-family: 'Open Sans';
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.horario, .duracao, .materia-horario {
  display: inline-block;
  vertical-align: middle;
}

.horario {
  width: 100%;
  padding: 8px;
}

.duracao {
  background-color: #ccc;
  border-radius: 3px;
  height: 100px;
  width: 130px;
  vertical-align: middle;
  line-height: 100px;
}

.materia-horario {
  height: 100px;
  width: 200px;
  padding: 10px;
  background-color: #ddd;
  border-radius: 3px;
}

.materia-horario h5 {
  font-weight: bold;
  font-size: 1em;
  }

.materia-horario small {
  font-style: italic;
  font-size: 0.8em;
}

.materia-horario p {
  font-style: normal;
  font-size: 0.9em;
}

.dia {
  height: 50px;
  line-height: 30px;
}

.dia time {
  line-height: 50px;
}

.materia {
  width: 100%;
  min-height: 100px;
  color: #fff;
  padding: 30px 0;
}

.materia h3 {
  text-align: left;
  padding-left: 20px;
  font-family: 'Open Sans';
  font-size: 1.8em;
}

.materia h5 {
  text-align: left;
  padding-left: 20px;
  font-family: 'Open Sans';
  font-size: 1.2em;
}

.materia small {
  text-align: left;
  padding-left: 20px;
  font-family: 'Open Sans';
  font-size: 1em;
}

.materia p {
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  font-family: 'Open Sans';
  font-size: 1em;
}

.materia ol {
  list-style: decimal;
  padding-left: 80px;
  font-family: 'Open Sans';
}

.green1 {
  background-color: #0b6623;
}

.green2 {
  background-color: #043927;
}

.green3 {
  background-color: #01a572;
}

.avaliacoes, .conteudos, .bibliografia, .aulas {
  font-family: 'Open Sans';
}

.avaliacoes ul {
  padding: 10px 0;
  padding-left: 80px;
  list-style: circle;
}

.aulas ul {
  padding: 10px 0;
  padding-left: 80px;
  list-style: circle;
}

.bibliografia ol {
  padding: 10px 0;
  padding-left: 80px;
  list-style: circle;
}

.bibliografia small {
  display: block;
}
